/result
/source
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/bash-strict-mode/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/bash-strict-mode/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
